{% extends "base.html" %}
{% block title %}Início - NavisLog{% endblock %}

{% block content %}
<header>
    <div class="logotipo">
        <img src="{{ url_for('static', filename='images/logotipo.png') }}" alt="Logo" />
    </div>
    <div class="nome">NavisLog</div>
    <div class="search-bar"><input type="search" name="search-bar" id="sb" value="⌕ ">
    </div>
    <div class="profile" onclick="toggleProfile()">🪪</div>
</header>

<!-- Menu lateral -->
<div class="sidebar" id="sidebar">
    <a href="#">🏠 Início</a>
    <a href="#">📦 Pedidos</a>
    <a href="#">🚚 Entregas</a>
    <a href="{{url_for('info')}}">📊 Relatórios</a>
    <a href="{{ url_for('configuracoes') }}">⚙️ Configurações</a>
    <a href="{{ url_for('ajuda') }}">🛠️ Suporte</a>
    <a href="#">ℹ️ Sobre</a>
    <a href="{{ url_for('logout') }}">🚪 Sair</a>
</div>

    <!-- Painel de Containers -->
    
    <div class="main">
        <div class="card card1">
            <input type="button" value="Acessar Gráficos" class="ip-button1">
        </div>

        <div class="card card2">
            <input type="button" value="Cadastrar Embarcação" class="ip-button1">
        </div>

        <div class="card card3">
            <input type="button" value="Agendar Atracação" class="ip-button1">
        </div>

        <div class="card card4">
            <input type="button" value="Agendar desatracação" class="ip-button1">
        </div>

        <div class="card card5">
            <input type="button" value="Controle de pedidos" class="ip-button1">
        </div>

        <div class="card card3">
            <input type="button" value="controle de cargas" class="ip-button1">
        </div>
    </div>

</div>



{% endblock %}
